<%= form_for(@hangman) do |f| %>
  <% if @hangman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hangman.errors.count, "error") %> prohibited this hangman from being saved:</h2>

      <ul>
      <% @hangman.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
